<!doctype html>
<html lang="">
    
        <head>
                <base href="/">
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <title ng-bind="pageTitle">Digital Archive</title>
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <script type="text/javascript" src="/static/scripts/main.js"></script>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div ui:view>
      <div class="carousel" role="banner" itemscope="" itemtype="http://schema.org/WPHeader">
        <h1>Building a cultural archive online, <strong>together.</strong></h1>
      </div>

</div>

      <header class="topheader">
          <h1 class="title">
              Sights and Sounds Digital Archive</h1>
        <ul class="rightmenu">
        <li>
                <div id ="homeBtn" class="image">
                        <img src="../../assets/image/ssbcLogo.png" id="mylogo" height="45" width="125" onclick="location.href='/home'" onmouseover="" style="cursor: pointer;">
                </div>
        </li>
        <li><button id='loginBtn' mat-button onclick="location.href='/login'">Exhibits</button></li>
        </ul>
      </header>

      <section style="background-color: #fff; margin: 0 auto; width: 55em; text-align: center;">
        <h2 style="margin: 0px; padding: 1.5em;">
          <strong>The Sights & Sounds Digital Archive
                   </strong> is a project created by students at the Georgia Institute of 
                   Technology and sponsored by Next Steps and the 
                   Sights and Sounds Black Cultural Museum.
        </h2>
      </section>
      <section>
        <div style="width: 90%; margin: 0 auto; height: 275px;">
          <div class="box" id = "ss">
            <h2>Sights & Sounds</h2>
            <p>
              Sights & Sounds is a black cultural museum
              in Atlanta that houses over 8,000 artifacts ranging from Ancient Egypt 
              to Michael Jackson to Barack Obama
            </p>
          </div>

          <div class="box" id = "ns">
            <h2><a href="https://nextstepsyep.org/">Next Steps</a></h2>
            <p><a href="https://nextstepsyep.org/">Next Steps</a> is a non-profit organization reaching out to local youth in Atlanta
                    to revolutionize STEM education by advocating for leadership and entrepreneurship.
            </p>
          </div>

          <div class="box">
            <h2>Museum Infomation</h2>
            <p>Adress: 2050 Lawrenceville Hwy, Decatur, GA 30033
              <br/>
              <br/>Phone Number: (404) 454-1462
            </p>
          </div>

          <!-- <div class="box">
            <h2><a href="https://github.com/ArchiveLabs/scholar.archivelab.org">Scholar*</a></h2>
            <p>To be announced.</p>
          </div> -->
          <div class="clearfix"></div>
        </div>
      </section>
    <!-- <p style="text-align: center; font-size: .8em; color: #999; margin-bottom: 30px;">*Project is run independently of the Internet Archive</p> -->
    <div class="clearfix"></div>
    
  </body>

</html>