.title {
    text-align: center;
}

table {
    width: 100%;
    background-color: primary;
}

#exhibit_table {
    height: 360px;
    overflow: scroll;
}

.footer-button {
    margin: 10px;
}

.mat-column-id {
    width: 15%;
}

.mat-column-name {
    width: 20%;
}

.mat-column-desc {
    width: 60%;
}

.mat-column-open {
    text-align: right;
    padding-right: 2%;
}

.mat-column-edit {
    text-align: right;
    padding-right: 2%;
}

.mat-column-delete {
    text-align: right;
    padding-right: 2%;
}

