<h1 class="title">
    {{title}}
</h1>

<div id="manage_users_table" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- role Column -->
        <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> role </th>
        <td mat-cell *matCellDef="let element"> {{element.userrole}} </td>
        </ng-container>

        <!-- first name Column -->
        <ng-container matColumnDef="first name">
        <th mat-header-cell *matHeaderCellDef> firstName </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
        </ng-container>

        <!-- last name Column -->
        <ng-container matColumnDef="last name">
        <th mat-header-cell *matHeaderCellDef> lastName </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.useremail}} </td>
        </ng-container>

        <!-- Edit Button Column -->
        <ng-container matColumnDef="edit">
        <th mat-header-cell  *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row" (click)="editUser(row)"><button mat-button >EDIT</button></td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
        <th mat-header-cell  *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let row" (click)="deleteUser(row)"><button mat-button >DELETE</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<button class="footer-button" mat-icon-button (click)="addUser()">
        <mat-icon>add_circle_outline</mat-icon>
</button>
<button class="cancel-button" (click)="toExhibits()" mat-button>Exhibits</button>