html {
    padding:0;
    margin:0;
  
    top:0;
    left:0;
  
    width: 100%;
    height: 100%;
    background-color: white;
  
    font-family: "Trebuchet MS";
}

.title {
    text-align: center;
}

#mylogo {
    float: left;
    cursor: pointer;
    padding-left: 1%;
    position: relative;
    top: -12px;
}

.mat-icon-button {
    float: right;
    margin-right: 1%;
    margin-left: 7%
}

.mat-icon {
    margin-bottom: 60%;
}

table {
    width: 99%;
    background-color: white;
}

#manage_users_table {
    overflow: scroll;
}

.footer-button {
    margin: 10px;
}

.mat-column-id {
    width: 15%;
}

.mat-column-role {
    width: 15%;
}

.mat-column-firstname {
    width: 20%;
}

.mat-column-lastname {
    width: 20%;
}

.mat-column-email {
    width: 25%;
}

.mat-column-edit {
    text-align: right;
    padding-right: 2%;
}

.mat-column-delete {
    text-align: right;
    padding-right: 2%;
}

.mat-paginator {
    background-color: white;
}

.exhibit-button {
    margin-left: 5%;
    margin-bottom: 5%;
}
.profile-button {
    margin-left: 5%;
    margin-bottom: 5%;
}
.cancel-button {
    margin-left: 5%;
}

