<html>
  <h1 class="title">
    PROFILE
    <img src="../../assets/image/ssbcLogo.png" id="mylogo" height="45" width="125" onclick="location.href='/home'" onmouseover="" style="cursor: pointer;">
    <mat-menu #appMenu="matMenu">
        <button class="exhibit-button" mat-button (click)="toExhibits()"><b>EXHIBITS</b></button>
        <br/>
        <button class="users-button" (click)="toUsers()" mat-button><b>USERS</b></button>
        <button class="logout-button" (click)="loginService.logout()" mat-button><b>LOGOUT</b></button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon><img src="../../assets/image/menu.png" id="menu" height="40" width="auto"></mat-icon>
    </button>
</h1>
<body>
    <div class="form-container">
        <mat-form-field>
                <input matInput [(ngModel)]=user.firstname placeholder="First Name" type="string">
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]=user.lastname placeholder="Last Name" type="string">
    </mat-form-field>
        <mat-form-field>
                <input matInput [(ngModel)]=user.useremail placeholder="Email" type="string">
        </mat-form-field>
    </div>

    <button class="save-button" (click)="saveUser()" [disabled]="user.firstname == '' || user.lastname == ''|| user.useremail == ''" mat-button><b>SAVE CHANGES</b></button>
    <button class="cancel-button" (click)="backToExhibits()"  mat-button><b>BACK</b></button>
</body>
</html>