html {
    position:fixed;
    padding:0;
    margin:0;
  
    top:0;
    left:0;
  
    width: 100%;
    height: 100%;
    background-color: beige;
  
    font-family: "Trebuchet MS";
}

.title {
    text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.save-button {
    margin: 10px;
    float: right;
    background-color: lightgray;
    border-radius: 0.8em;
}

.cancel-button {
    margin: 10px;
    float: right;
    background-color: lightgray;
    border-radius: 0.8em;
}