<html>

<h1 class="title">
        {{title}}
</h1>

<img src={{artifact.filepath}} style="width:100px;height:100px;">

<input type="file" (change)="onFileSelected($event)">

<button class="cancel-button" (click)="uploadImage()" mat-button><b>UPLOAD IMAGE</b></button>
<button class="cancel-button" (click)="deleteImage()" mat-button><b>DELETE IMAGE</b></button>

<div class="form-container">
    <mat-form-field>
            <input matInput [(ngModel)]=artifact.name placeholder="Artifact Name" type="string">
    </mat-form-field>
    <mat-form-field>
            <input matInput [(ngModel)]=artifact.artifactid placeholder="Artifact ID" type="number">
    </mat-form-field>
    <mat-form-field>
            <input matInput [(ngModel)]=artifact.description placeholder="Description" type="string">
    </mat-form-field>
    <mat-form-field>
            <input matInput [(ngModel)]=artifact.onDisplay placeholder="onDisplay" type="number">
    </mat-form-field>
</div>

<button class="save-button" (click)="saveArtifact()" [disabled]="artifact.name == ''
                                                              || artifact.artifactid == undefined
                                                              || artifact.description == ''
                                                              || !(artifact.onDisplay == 1 || artifact.onDisplay == 0)"
        mat-button><b>SAVE</b></button>
<button class="cancel-button" (click)="backToArtifacts()" mat-button><b>CANCEL</b></button>

</html>