<h1 class="title">
        {{title}}
</h1>

<div class="form-container">
    <mat-form-field>
            <input matInput [(ngModel)]=exhibit.name placeholder="Exhibit Name" type="string">
    </mat-form-field>
    <mat-form-field>
            <input matInput [(ngModel)]=exhibit.weight placeholder="Weight" type="number">
    </mat-form-field>
    <mat-form-field>
            <input matInput [(ngModel)]=exhibit.symbol placeholder="Symbol" type="string">
    </mat-form-field>
</div>

<button class="save-button" (click)="saveExhibit()" [disabled]="exhibit.symbol == '' || exhibit.weight == undefined || exhibit.name == ''" mat-button>Save</button>
<button class="cancel-button" (click)="backToExhibits()" mat-button>Cancel</button>