<h1 class="title">
    {{title}}
    <img src="../../assets/image/ssbcLogo.png" height="40" width="auto" id = "mylogo" onclick="location.href='/exhibits'">
</h1>

<div id="exhibit_table" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.exhibitId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Desc Column -->
        <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Open Button Column -->
        <ng-container matColumnDef="open">
                <th mat-header-cell  *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let row" (click)="openExhibit(row)"><button mat-button >OPEN</button></td>
        </ng-container>

        <!-- Edit Button Column -->
        <ng-container matColumnDef="edit">
                <th mat-header-cell  *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let row" (click)="editExhibit(row)"><button mat-button >
                    <img src="../../assets/image/edit.png" id="edit" height="20" width="auto">
                </button></td>
        </ng-container>

        <!-- Delete Button Column -->
        <ng-container matColumnDef="delete">
                <th mat-header-cell  *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let row" (click)="deleteExhibit(row)"><button mat-button >
                    <img src="../../assets/image/delete.png" id="delete" height="20" width="auto">
                </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<button class="footer-button" mat-button (click)="addExhibit()">Add Exhibit</button>

<button class="cancel-button" (click)="toUsers()" mat-button>Users</button>
<button class="cancel-button" (click)="loginService.logout()" mat-button>Logout</button>