<html>

<h1 class="title">
        {{title}}
</h1>

<div class="form-container">
    <mat-form-field>
            <input matInput [(ngModel)]=exhibit.name placeholder="Exhibit Name" type="string">
    </mat-form-field>
    <mat-form-field>
            <input matInput [(ngModel)]=exhibit.description placeholder="Description" type="string">
    </mat-form-field>
</div>

<button class="save-button" (click)="saveExhibit()" [disabled]="exhibit.name == '' || exhibit.description == ''" mat-button><b>SAVE</b></button>
<button class="cancel-button" (click)="backToExhibits()" mat-button><b>CANCEL</b></button>

</html>