
html {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-color: beige;

  font-family: "Trebuchet MS";
}

.title {
  text-align: center;
  padding-right: 8%;
  
}

#mylogo {
  float: left;
  cursor: pointer;
  padding-left: 0.5%
}

.login-container {
  align-content: center;
  text-align: center;
  align-self: center;
  margin-top: 3%;
}

.login-field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-field {
  width: 400px;
}

.login-button-container {
  margin: 10px;
  
  #login-button {
      width: 100px;
      border-radius: .8em;
      border: silver thin solid;
      background-color: lightgray;
  }
}