<div class="login-container">
    <h1>Digital Archiving Login</h1>
    <div class="image">
        <img src="../../assets/image/ssbcLogo.png" id="logo" height="30" width="auto" onclick="location.href='/home'">
    </div>
    <div class="login-field-container">
        <mat-form-field class="login-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]=username placeholder="Please enter your email" type="email">
        </mat-form-field>
        <mat-form-field class="login-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]=password placeholder="Please enter your password" type="password">
        </mat-form-field>
    </div>

    <div class="login-button-container">
        <button id="login-button" mat-stroked-button (click)="login()">Login</button>
    </div>

    <p style="color: red" [hidden]=!loginfailed>Email or Password was incorrect</p>


</div>